
.imgwrapper{
  margin-top: 20%;
  margin-bottom: 10%;
  width: 600px;
  height: 125px;
}


#brandimg {
  background-image: url('https://s3.eu-central-1.amazonaws.com/theplaywall/thePlaywallLogo.jpg');
  width: 600px;
  height: 125px;
  display: flex;
  justify-content: flex-start;
}
