// Colors
$brand         : #DC5D4A;
$background    : #EBEBEC;
$primary-light : #484E6D;
$primary-dark  : #3D3047;

// fonts
$font          : 'Ubuntu', sans-serif;

.modal-container {
  font-family: $font;
  font-size: 16px;
  background: $background;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content:flex-start;
  align-items: center;

}

.thanks-text {
  margin-top: -80px;
  p {
    margin: 20px 0;
  }
}
