// Colors
$brand         : #DC5D4A;
$background    : #EBEBEC;
$primary-light : #484E6D;
$primary-dark  : #3D3047;

// fonts
$font          : 'Ubuntu', sans-serif;


body {
  font: 100% $font;
  background: $background;
}

#thankyoucontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: $font;
  font-size: 140%;
  padding: 5px;
  text-align: center;
  background: white;

}
