<h1>All Surveys</h1>
<div class="question_actions">
  <%= button_to "Add survey", new_admin_question_path, { method: :get, class: 'button' } %>
</div>
<div class="surveys">
  <%= render @surveys %>
</div>
