// Colors
$brand         : #DC5D4A;
$background    : #EBEBEC;
$primary-light : #484E6D;
$primary-dark  : #3D3047;
$pay           : #40C6DB;

// fonts
$font          : 'Ubuntu', sans-serif;

.info-exit {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
}

.playpaymodal {
  font-family: $font;
  font-size: 16px;
  background: white;
  padding: 0 10px;
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.play {
  font-weight: 500;
  letter-spacing: 1px;
  border: 0;
  overflow: hidden;
  font-size: 24px;
  background: $brand;
  padding: 15px 0;
  color: white;
  border-radius: 6px;
  width: 260px;
  margin: 0 auto;
}

.pay {
  font-weight: 500;
  letter-spacing: 1px;
  border: 0;
  overflow: hidden;
  font-size: 24px;
  background: $pay;
  padding: 15px 0;
  color: white;
  border-radius: 6px;
  width: 260px;
  margin: 0 auto;
}

.exit {
  width: 40px;
  height: 40px;
  font-size: 100%;
  font-weight: 700;
  border-radius: 50%;
  color: black;
  border-style: solid;
  background-color: white;
}

.info {
  width: 30px;
  height: 30px;
  font-size: 100%;
  border: 0;
  border-radius: 50%;
  font-family: cursive;
  background-color: #DADADA;
  color: white;
  font-weight: bold;
}

.summary {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.headline {
  text-align: center;
  line-height: 32px;
}
