// Colors
$brand         : #DC5D4A;
$background    : #EBEBEC;
$primary-light : #484E6D;
$primary-dark  : #3D3047;
$brandh        : #dc8c4a;

// fonts
$font          : 'Ubuntu', sans-serif;


body {
  font-family: $font;
  font-size: 140%;
  background: $background;
}


.swrapper {
  margin: 10%;
}

.qwrapper {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  width: 600px;
  height: 60px;
}

.awrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  max-width: 100;
  flex: 1;
}

.but {
  background: $brand;
  margin: 2%;
  width: 45%;
  height: 125px;
  text-align: center;
}

.but:hover {
  background: $brandh;
}
