// Colors
$brand         : #DC5D4A;
$background    : #EBEBEC;
$primary-light : #484E6D;
$primary-dark  : #3D3047;
$brandh        : #dc8c4a;

// fonts
$font          : 'Ubuntu', sans-serif;


body {
  font-family: $font;
  font-size: 140%;
  background: $background;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

footer {
  margin-top: 5%;
  text-align: center;
}

.qwrapper {
  text-align: center;
}

.awrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  max-width: 100;
  flex: 1;
}

.but {
  margin: 2%;
  width: 45%;
  height: 45%;
  text-align: center;
}

.but:hover {
  opacity: 0.6;
}
