body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  min-height: 100vh;
  margin: 0 auto;
}

#brand-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  background-image: url('https://s3.eu-central-1.amazonaws.com/theplaywall/thePlaywallLogo.jpg');
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: top left;
  background-size:contain;
  height: 80px;
}
