<ul>
  <li class='title'><%= question.text %></li>
    <li class='images'>
    <% question.answers.each do |answer| %>
    <div class='image'>
      <%= image_tag answer.picture %>
      <%= answer.title %>
    </div>
    <% end %>
  </li>
</ul>
