<h1>All Questions</h1>
<div class="question_actions">
  <%= button_to "Add new", new_admin_question_path, { method: :get, class: 'button' } %>
</div>
<div class="questions">
  <%= render @questions %>
</div>
