/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import './variables.sass';

* {
  box-sizing: border-box;
}

body {
  background-color: $background;
  font-family: $font;
  font-weight: 300;
  color: $primary-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  align-self: flex-end;
  position: relative;
  background-color: $brand;
  color: white;
  font-size: 16px;
  width: 100px;
  height: 30px;
  border: 0;
  border-radius: 4px;
  margin-bottom: 5px;
  &:hover {
    background-color: darken($brand, 10%);
  }
}

#thanks {
  font-weight: 500;
  letter-spacing: 1px;
  border: 0;
  overflow: hidden;
  font-size: 24px;
  background: $brand;
  padding: 15px 0;
  color: white;
  border-radius: 6px;
  width: 260px;
  height: 60px;
  margin: 0 auto;
}

.delete {
  background-color: darken(red, 10%);
  &:hover {
    background-color: darken(red, 20%);
  }
}
input[type=checkbox] {
  display: inline;
}
.checkbox-label {
  display: inline;
}
