// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import './variables.sass';

body {
  padding: 0;
  margin: 0;
}

h2 {
  text-align: center;
  color: $brand;
}

//nav
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: $brand;
    text-align: center;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #EB5D4A;}

// index
.question-wrapper {
  max-width: 800px;
}
.questions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;

  ul {
    border-bottom: 1px dotted $brand;
    list-style-type: none;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
    &:last-child {
      border-bottom: none;
    }
    li {
      margin-top: -16px;
    }
    li.title {
      font-weight: 700;
      color: $brand;
      text-align: center;
      width: 200px;
      div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .button {
          width: 75px !important;
        }
      }
    }
    li.images {
      display: flex;
      flex-wrap: wrap;
      div.image {
        display: inline-flex;
        flex-direction: column;
        margin: 10px 5px;
        text-align: center;
        img {
          width: 100px;
          height: 100px;
          border-radius: 10%;
        }
      }
    }
    li.action-buttons {
      margin-left: 20px;
    }
  }
}

.surveys > ul > .question-wrapper > .questions > .questions {
  border-bottom: 1px dotted $brand;
  margin-top: 20px;
}
// form
.form-card {
  margin: 20px 0 0;
  &:first-child {
    border: 0;
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 300px;
  label {
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: $brand;
    margin-bottom: 5px;
  }
  margin-bottom: 10px;

  input[type=text], textarea {
    width: 300px;
    line-height: 20px;
    font-size: 12px;
    color: $primary-dark;
    border: 1px solid $primary-light;
  }
}
