// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import './variables.sass';

// index
div.questions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;

  ul {
    border-bottom: 1px dotted $brand;
    list-style-type: none;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
    &:last-child {
      border-bottom: none;
    }
    li {
      margin-top: -16px;
    }
    li.title {
      font-weight: 700;
      color: $brand;
      text-align: center;
      width: 200px;
    }
    li.images {
      display: flex;
      flex-wrap: wrap;
      div.image {
        display: inline-flex;
        flex-direction: column;
        margin: 10px 5px;
        text-align: center;
        img {
          width: 100px;
          height: 100px;
          border-radius: 10%;
        }
      }
    }
  }
}


// form
.form-card {
  margin: 20px 0 0;
  &:first-child {
    border: 0;
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 300px;
  label {
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: $brand;
    margin-bottom: 5px;
  }
  margin-bottom: 10px;

  input[type=text], textarea {
    width: 300px;
    line-height: 20px;
    font-size: 12px;
    color: $primary-dark;
    border: 1px solid $primary-light;
  }
}
